<div class="inv-plus-dialog">
    This a experimental feature for {{#if flagDisableDefaultCategories}}re-enable{{else}}disable{{/if}}/ the default categories of dnd5e and replace with a full custom integration.
    Please, please , please test in a demo world before try out on your official world.
</div>
